body{
  background-color: grey;
}

header{
  background-color: white;
}
nav{
  background-color: yellow;
}
article{
  background-color: white;  
}
section{
  background-color: chartreuse;
}
.SectionPertama{
  background-color: blue;
  border-color: bisque;
  border-radius: 10px;
}
footer{
  background-color: turquoise;
}